.nav-vertical {
    width: 60px;
    height: 420px;
    background-color: #1a1a1a;
    position: relative;
    li {
        width: 60px;
        height: 60px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 27px;
        font-weight: 1px;
        line-height: 60px;
    }
    a:hover {
        color: #f5c615;
    }
}

.nav-active {
    visibility: hidden;
    width: 0px;
    height: 360px;
    position: absolute;
    background-color: #141414;
    left: 100%;
    top: 60px;
    opacity: 0;
    z-index: 99;
    li {
        width: 220px;
        list-style: none;
        margin: auto;
    }
    img {
        border: 2px solid #f5c615;
        width: 360px;
        height: 360px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 1px;
        line-height: 60px;
    }
    a:hover {
        color: #f5c615;
    }
}

.nav-item:hover {
    transition: all 0.5s;
    .nav-active {
        visibility: visible;
        opacity: 1;
        width: 500px;
        transition: all 0.5s;
    }
}