* {
    margin: 0;
    padding: 0;
}

.header-top {
    height: 40px;
    background-color: black;
}

.background-header {
    background-image: url("/asset/background/slide-show-2.jpg");
    background-repeat: no-repeat;
}

.menu-header {
    .level-1 {
        &:hover {
            transform: translateX(30px);
            &::before {
                width: 20px;
            }
        }
        & {
            &::before {
                content: " ";
                width: -1px;
                height: 3px;
                background-color: #f5c615;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -23px;
                transition: width 0.3s;
            }
        }
    }
    li {
        list-style: none;
        color: rgb(99, 99, 99);
        transition: transform 0.2s;
        position: relative;
    }
    li:hover {
        cursor: pointer;
        transform: translateX(10px);
    }
}

.hiden-header {
    h1 {
        padding-top: 100px;
    }
    height: 250px;
    background-image: url("/asset/background/Dana-home3-slideshow.jpg");
    background-repeat: no-repeat;
}

.popular {
    background-color: #f6f6f6;
    button {
        color: black;
    }
    button:hover {
        color: #f5c615;
    }
    .nav-tabs {
        font-size: 25px;
        border: none;
        .nav-link {
            border: none;
        }
        .nav-link.active {
            border: none;
            background-color: #f6f6f6;
            color: #f5c615;
        }
    }
}

.hot-deal {
    background-image: url("/asset/background/home3-hot-deta.jpg");
}

.slide-hot {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-2 {
    background-color: #f6f6f6;
    width: 60px;
    height: 60px;
}

.btn-2:hover {
    border: 2px solid #f5c615;
}

.btn-2:active {
    border: 2px solid #f5c615;
}

.bestsale {
    background-image: url("/asset/background/Dana-home1-bg-featured.jpg");
    background-repeat: no-repeat;
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-bottom: 2px solid #f5c615;
        background-color: #ffffff00;
    }
    .nav-tabs .nav-link {
        border: none;
        color: black;
    }
}

@media (max-width: 380px) {
    .popular {
        background-color: #f6f6f6;
        button {
            color: black;
        }
        button:hover {
            color: #f5c615;
        }
        .nav-tabs {
            font-size: 16px;
            border: none;
            .nav-link {
                border: none;
            }
            .nav-link.active {
                border: none;
                background-color: #f6f6f6;
                color: #f5c615;
            }
        }
    }
}

.sort {
    select {
        border: none;
        border-radius: 25px;
        background-color: #f2f2f2;
    }
}

.pagination-md {
    li {
        margin-left: 10px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .page-link {
        border: none;
    }
    .page-link:active {
        background-color: #f5c615;
        color: white;
    }
    .page-link:hover {
        background-color: #f5c615;
        color: white;
    }
    .page-item.active .page-link {
        background-color: #f5c615;
        color: white;
    }
}

.shoplist {
    .img-1 {
        z-index: 10;
        opacity: 1;
    }
    .img-2 {
        z-index: -1;
        opacity: 0;
        display: none;
        width: 100%;
        height: auto;
    }
}

.product-vtc:hover {
    .img-1 {
        z-index: -1;
        opacity: 0;
        display: none;
    }
    .img-2 {
        z-index: 10;
        opacity: 1;
        display: block;
    }
}

.product-detail {
    .prd-left {
        .carousel-inner {
            width: 100%;
            height: auto;
            position: relative;
        }
        .carousel-indicators {
            position: relative;
            width: 100%;
            height: 60px;
            li {
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .carousel-indicators [data-bs-target] {
            text-indent: 0;
        }
    }
    .prd-right {
        color: white;
        background-color: #313131;
        .rating-header {
            margin-top: -10px;
            margin-bottom: 10px;
        }
        .size-prd {
            .btn-size {
                font-weight: bold;
                color: #575757;
                background-color: #313131;
                border: none;
                width: 55px;
                height: 40px;
                transition: all 0.5s;
                border-radius: 20px;
            }
            .btn-size:hover {
                background-color: #000000;
                color: rgb(172, 172, 172);
            }
            .btn-size:active {
                background-color: #000000;
                color: white;
            }
        }
        .btn {
            padding: 0px;
            width: 30px;
            height: 30px;
            background-color: #f5c615;
            vertical-align: baseline;
        }
        .btn-buy {
            background-color: rgba(255, 255, 255, 0);
            width: 134px;
            height: 30px;
            border: 2px solid white;
            border-radius: 50px;
            z-index: 98;
            font-size: 15px;
            font-weight: bold;
            color: white;
            &:hover {
                transition: all .8s;
                box-shadow: 0px 0px 10px 0px #ffffff;
            }
        }
        .btn-icon {
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
            }
            right: -20%;
            top: 0%;
            position: absolute;
            display: block;
            width: 45px;
            height: 45px;
            background-color: #F5C615;
            border-radius: 50px;
        }
        .btn:hover {
            transition: all .8s;
            box-shadow: 0px 0px 10px 0px #ffffff;
            .btn-icon {
                z-index: 99;
                transition: all .5s;
                box-shadow: 0px 0px 10px 0px #ffd84c;
            }
        }
    }
}

.checked {
    color: orange;
}

.selected {
    color: #FFA500;
}

.tab-product {
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-bottom: 2px solid #f5c615;
    }
    .nav-tabs .nav-link {
        border: none;
        color: black;
    }
}

.list-color {
    li {
        height: 30px;
        width: 30px;
        background: rgba(255, 255, 255, 0);
        border-radius: 50%;
        display: inline-block;
        margin: 5px 20px 5px 0px;
    }
    .black {
        background-color: black;
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .gold {
        background-color: rgb(255, 196, 0);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .sliver {
        background-color: #575757;
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .blue {
        background-color: rgb(0, 38, 255);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .brown {
        background-color: rgb(131, 74, 1);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .red {
        background-color: rgb(255, 0, 0);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .pink {
        background-color: rgb(255, 0, 98);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .green {
        background-color: rgb(43, 255, 0);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .lightblue {
        background-color: rgb(0, 225, 255);
        border-radius: 30px;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .white {
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        border: 1px solid black;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.shoplist {
    .sort select {
        box-shadow: none;
    }
    .accordion-item {
        border: none;
    }
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
    .accordion-button:not(.collapsed)::after {
        filter: grayscale(1);
    }
    .accordion-button:not(.collapsed) {
        color: black;
        background-color: #ffffff00;
        box-shadow: none;
    }
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.range-slide {
    .irs--flat .irs-bar {
        background-color: #f5c615;
    }
    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
        background-color: #f5c615;
    }
    .irs--flat .irs-handle>i:first-child {
        background-color: #2D5593;
    }
    .irs--flat .irs-from:before,
    .irs--flat .irs-to:before,
    .irs--flat .irs-single:before {
        border-top-color: #2D5593;
    }
}

.blog {
    .card-body {
        a {}
        .btn {
            border-radius: 20px;
        }
    }
    .card:hover {
        position: relative;
        z-index: 99;
        transition: all .5s;
        box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.41);
    }
    .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .search {
        .form-control {
            position: relative;
            border-radius: 20px;
        }
        .btn {
            position: absolute;
            color: black;
            z-index: 99;
        }
    }
    .level-1 {
        &:hover {
            transition: all 0.4s;
            transform: translateX(30px);
            &::before {
                width: 20px;
            }
        }
        & {
            &::before {
                content: " ";
                width: -1px;
                height: 2px;
                background-color: #000000;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -23px;
                transition: width 0.3s;
            }
        }
    }
}

.offcanvas{
    .btn{
        
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .top-header {
        background-color: black;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    .product-vtc {
        .btn {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}